@import "../../assets/css/utils/variables.scss";

button {
  position: relative;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
}
button:hover,
button.active {
  color: $light;
  background: $black;
}
