@import "../../assets/css/utils/variables.scss";

.MenuContainer button {
  position: relative;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
  color: $light;
  background: $black;
}
.MenuContainer button:hover,
.MenuContainer button.active {
  border: 1px solid $light;
}

.flex-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}
