@import "../../assets/css/utils/fonts.scss";

.cardCategorie {
  display: flex;
  flex-direction: column;
}

.cardCategorie h2 {
  margin-left: 20px;
  font-family: $worksans;
  font-size: 21px;
  color: $black;
}

.statsPrix,
.statsNombre {
  display: flex;
  flex-direction: row;
}
