.AllPrestations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.createPrestation {
  font-size: 50px;
  color: #303030;
}

.createPrestation:hover {
  transform: scale(1.2);
  transition: 400ms;
}
