.pageDetailBlock {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  justify-content: space-around;
  .contentBlock {
    width: 500px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 10px;
    }
    .entrepriseName {
      margin-bottom: 10px;
    }
    p {
      margin: 25px 0;
    }
    .buttonPrestationSubmit {
      cursor: pointer;
    }
    .editPrestation {
      margin-left: 20px;
      font-size: 30px;
      color: #303030;
    }
    .editPrestation:hover {
      transform: scale(1.2);
      transition: 400ms;
    }
  }

  .galeryBlock {
    display: flex;
    flex-direction: column;
    width: 400px;
    .firstRow,
    .secondRow,
    .thirdRow {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .firstRow {
      .detail-img1 {
        width: 50%;
        margin-right: 25px;
      }
      .detail-img2 {
        width: 50%;
      }
    }
    .secondRow {
      margin: 25px 0;
      .detail-img3 {
        width: 100%;
      }
    }
    .thirdRow {
      .detail-img4 {
        width: 50%;
        margin-right: 25px;
      }
      .detail-img5 {
        width: 50%;
      }
    }

    .detail-img1,
    .detail-img2,
    .detail-img3,
    .detail-img4,
    .detail-img5 {
      border-radius: 0;
    }
  }
}
