.AdminPage {
  display: flex;
  flex-direction: row;
}

.AdminPage .AdminContent {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.AdminPage .AdminContent .AdminHeader {
  display: flex;
  flex-direction: row;
  border: solid 1px lightgray;
  width: 80vw;
}
