@import "../../assets/css/utils/fonts.scss";

.fullCard {
  height: 444px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(30, 30, 30, 0.2);
}

.fullCard:hover {
  transform: scale(01.15);
  transition: all ease-in-out 0.4s;
}

.imagePrestationCard {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 300px;
  height: 225px;
}

.titleCard,
.coord,
.contentCard {
  padding-left: 25px;
}

.titleCard {
  font-weight: bold;
  width: 249px;
  height: 20px;
  padding-top: 23px;
}

.coord {
  width: 249px;
  height: 17px;
  margin-top: 10px;
}

.contentCard {
  width: 249px;
  height: 36px;
  margin-top: 25px;
}

.moreButton {
  cursor: pointer;
  height: 25px;
  width: 130px;
  border-radius: 5px;
  background: $orange;
  margin-top: 38px;
  margin-left: 25px;
  border: 0;
  font-family: $worksans, bold;
  font-size: 16px;
  color: $light;
  line-height: 150%;
}
