.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 100px 30px 100px;
}

.categorieTitre {
  display: flex;
  font-size: 24px;
  justify-content: center;
  margin: 1rem;
}

.card {
  margin: 30px;
}
