.categorieTitre {
  display: flex;
  padding-top: 120px;
  font-size: 24px;
  justify-content: center;
  margin: 1rem;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 50px;
}

.card {
  margin: 30px;
}
