@import "./variables.scss";

// Création de classe pour les différents titres, sous titre et contenu
.title {
  font-family: $worksans;
  font-size: 42px;
  color: $black;
}
.titleCard {
  font-family: $worksans;
  font-size: 21px;
  color: $black;
}
.subTitle,
.entrepriseName,
.coord,
.subTitleCard {
  font-family: $worksans;
  font-size: 18px;
  color: $black;
}
.content,
input,
.contentCard {
  font-family: $roboto;
  font-size: 15px;
}

// Création des classes pour les différents liens menant à google ou à une autre page.
.link {
  font-family: $roboto;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  color: $green;
  &:hover {
    color: $hoverGreen;
  }
}
.linkToGoogle {
  font-family: $worksans;
  font-size: 21px;
  font-weight: bold;
  color: $black;
}

// Création des classes texte pour les deux différents bouttons de l'application.
.buttonText {
  font-family: $worksans;
  font-size: 15px;
  color: $light;
}
.bigButtonText {
  font-family: $worksans;
  font-size: 21px;
  color: $light;
}

// Création de classe pour les graisses
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}

// Classe pour les prestations
.prestationTitleLight,
.prestationTitleDark {
  font-family: $worksans;
  font-size: 21px;
  font-weight: bold;
}
.prestationTitleDark {
  color: $black;
}

.prestationTitleLight {
  color: $light;
}
.titlePrestationPage {
  font-family: $worksans;
  font-size: 30px;
  font-weight: bold;
}

// Alignement du texte
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}
.left {
  text-align: left;
}
