@import "../../assets/css/utils/fonts.scss";

.categorie-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;

  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.categorie-grid .categorie {
  padding: 2rem;
  box-shadow: 0px 4px 30px hsl(30, 30, 30, 0.25);
}

.categorie-grid .categorie:nth-child(1) {
  grid-area: one;
}
.categorie-grid .categorie:nth-child(2) {
  grid-area: two;
}
.categorie-grid .categorie:nth-child(3) {
  grid-area: three;
}
.categorie-grid .categorie:nth-child(4) {
  grid-area: four;
}

@media screen and (min-width: 33em) {
  .categorie-grid {
    grid-template-areas:
      "one one"
      "two three"
      "two three"
      "four four";
  }
}

@media screen and (min-width: 54em) {
  .categorie-grid {
    grid-template-areas:
      "one one four"
      "two three four"
      "two three four";
  }
}

.categorie-grid .categorie p {
  bottom: 25px;
  left: 25px;
  color: $light;

  text-shadow: 0px 0px 5px #000000;
}

img {
  object-fit: cover;
}
