@import "../../assets/css/utils/fonts.scss";

.categorie-grid {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "one"
    "two"
    "thre"
    "four";

  width: 75%;
  margin-inline: auto;
}

.categorie-grid .categorie:nth-child(1) {
  grid-area: one;
}
.categorie-grid .categorie:nth-child(2) {
  grid-area: two;
}
.categorie-grid .categorie:nth-child(3) {
  grid-area: three;
}
.categorie-grid .categorie:nth-child(4) {
  grid-area: four;
}

@media screen and (min-width: 33em) {
  .categorie-grid {
    grid-template-areas:
      "one one"
      "two four"
      "three four";
  }
}

@media screen and (min-width: 54em) {
  .categorie-grid {
    grid-template-areas:
      "one one four"
      "two three four";
  }
}

.categorie-grid .categorie p {
  position: relative;
  bottom: 95px;
  color: $light;
  background: $black;
  padding: 25px;
}

.categorie-grid .categorie img {
  background-size: cover;
  object-fit: cover;
}

.categorie-grid .horizontaleImg,
.carreImg {
  height: 250px;
  width: 100%;
}

.categorie-grid .verticalImg {
  width: 350px;
  height: 100%;
}
.categorie-grid .horizontale,
.categorie-grid .carre {
  height: 250px;
}

.categorie:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.4s;
}

.gridContainer {
  position: relative;
  bottom: 100px;
  display: flex;
  flex-direction: column;
}
.gridContainer > h1 {
  margin: 0 auto 20px;
  width: 75%;
}
