.categorie-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 3fr 3fr 2fr;

  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.categorie-grid .grid-col-span-2 {
  grid-column: span 2;
}

.categorie-grid .grid-row-span-2 {
  grid-row: span 2;
}

.categorie-grid .categorie {
  border: solid 1px black;
}

.categorie-grid .categorie:last-child {
  grid-column-start: 3;
  grid-row: 1 / span 2;
}

.categorie-grid .categorie p {
  position: absolute;
  bottom: 10px;
  left: 25px;
  color: white;
}
.categorie-grid .categorie img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
