@import "../../assets/css/utils/variables.scss";

footer {
  background: $black;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.TopFooter p,
.TopFooter p span,
.MiddleFooter a,
.MiddleFooter p,
.EndFooter p,
.EndFooter a {
  color: $light;
  text-decoration: none;
  font-family: $worksans;
  font-size: 15px;
  margin: 5px;
}

.TopFooter p:first-child,
.MiddleFooter p:first-child {
  font-size: 15px;
  font-family: $worksans;
  padding-bottom: 10px;
}

span {
  border: solid;
  border: 1px solid $light;
  border-radius: 5px;
}

.Facebook,
.Youtube,
.Twitter,
.Linkedin {
  width: 20px;
  height: 20px;
  filter: invert(1);
  margin: 10px;
  cursor: pointer;
}

.TopFooter {
  margin-top: 33px;
  margin-left: 43px;
}
.EndFooter {
  margin-top: 30px;
}
