.panier {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.flexPanier {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.flexPanier > button {
  margin-left: 20px;
}

.flexPanier > button > span {
  border: none;
}
